<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!---Filtro para rutas sin sesion activa-->
    <filter>
        <filter-name>Login</filter-name>
        <filter-class>Filter.Login</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Login</filter-name>     
        <url-pattern>/index</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>TimeOut</filter-name>
        <filter-class>Filter.TimeOut</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TimeOut</filter-name>     
        <url-pattern>/Administrador/*</url-pattern>
        <url-pattern>/Docente/*</url-pattern>
        <url-pattern>/Estudiante/*</url-pattern>
        <url-pattern>/QueryDocuments.do</url-pattern>
        <url-pattern>/AprobacionSolicitud.do</url-pattern>
        <url-pattern>/DeleteCompany.do</url-pattern>
        <url-pattern>/DeleteDocument.do</url-pattern>
        <url-pattern>/DeleteUser.do</url-pattern>
        <url-pattern>/LoadStudents.do</url-pattern>
        <url-pattern>/Postulante.do</url-pattern>
        <url-pattern>/QueryCompanies.do</url-pattern>
        <url-pattern>/QueryDataStudent.do</url-pattern>
        <url-pattern>/QueryDocuments.do</url-pattern>
        <url-pattern>/QueryPostulantes.do</url-pattern>
        <url-pattern>/QueryRequest.do</url-pattern>
        <url-pattern>/QuerySolicitudes.do</url-pattern>
        <url-pattern>/QueryTypeDocuments.do</url-pattern>
        <url-pattern>/QueryUsers.do</url-pattern>
        <url-pattern>/QueryVisitas.do</url-pattern>
        <url-pattern>/RegisterCompany.do</url-pattern>
        <url-pattern>/RegisterRequest.do</url-pattern>
        <url-pattern>/RegisterUser.do</url-pattern>
        <url-pattern>/UpdateActivDoc.do</url-pattern>
        <url-pattern>/UpdateActivUser.do</url-pattern>
        <url-pattern>/UpdateCompany.do</url-pattern>
        <url-pattern>/UpdatePassword.do</url-pattern>
        <url-pattern>/UpdateProfile.do</url-pattern>
        <url-pattern>/UpdateStatusCronograma.do</url-pattern>
        <url-pattern>/UpdateStatusPostulant.do</url-pattern>
        <url-pattern>/UpdateUser.do</url-pattern>
        <url-pattern>/UploadFile.do</url-pattern>
    </filter-mapping>
    <!--- -->
    <!---Servlets-->
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Controlador.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controlador.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassChange</servlet-name>
        <servlet-class>Controlador.PassChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassRecovery</servlet-name>
        <servlet-class>Controlador.PassRecovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controlador.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCompany</servlet-name>
        <servlet-class>Controlador.RegisterCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryCompanies</servlet-name>
        <servlet-class>Controlador.QueryCompanies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCompany</servlet-name>
        <servlet-class>Controlador.DeleteCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompany</servlet-name>
        <servlet-class>Controlador.UpdateCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryDataStudent</servlet-name>
        <servlet-class>Controlador.QueryDataStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryDocuments</servlet-name>
        <servlet-class>Controlador.QueryDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadDoc</servlet-name>
        <servlet-class>Controlador.DownloadDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDocument</servlet-name>
        <servlet-class>Controlador.DeleteDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>Controlador.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryTypeDocuments</servlet-name>
        <servlet-class>Controlador.QueryTypeDocuments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Controlador.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controlador.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryUsers</servlet-name>
        <servlet-class>Controlador.QueryUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryVisitas</servlet-name>
        <servlet-class>Controlador.QueryVisitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>Controlador.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActivUser</servlet-name>
        <servlet-class>Controlador.UpdateActivUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuerySolicitudes</servlet-name>
        <servlet-class>Controlador.QuerySolicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobacionSolicitud</servlet-name>
        <servlet-class>Controlador.AprobacionSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryRequest</servlet-name>
        <servlet-class>Controlador.QueryRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterRequest</servlet-name>
        <servlet-class>Controlador.RegisterRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>Controlador.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActivDoc</servlet-name>
        <servlet-class>Controlador.UpdateActivDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuerySolicitudesDoc</servlet-name>
        <servlet-class>Controlador.QuerySolicitudesDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewRequest</servlet-name>
        <servlet-class>Controlador.ReviewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Postulate</servlet-name>
        <servlet-class>Controlador.Postulate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryPostulantes</servlet-name>
        <servlet-class>Controlador.QueryPostulantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusPostulant</servlet-name>
        <servlet-class>Controlador.UpdateStatusPostulant</servlet-class>
    </servlet>
    <!--- -->
    <!---Mappping para quitar extension .jsp-->
    
    <servlet>
        <servlet-name>LoadStudents</servlet-name>
        <servlet-class>Controlador.LoadStudents</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>logoutG</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutG</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>estudiantes_registrar</servlet-name>
        <jsp-file>/Administrador/estudiantes_registrar.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>estudiantes_registrar</servlet-name>
        <url-pattern>/Administrador/estudiantes_registrar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>errorRedir</servlet-name>
        <jsp-file>/Error/errorRedir.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>errorRedir</servlet-name>
        <url-pattern>/Error/errorRedir</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cambio_clave</servlet-name>
        <jsp-file>/Sesion/cambio_clave.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cambio_clave</servlet-name>
        <url-pattern>/Sesion/cambio_clave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recuperacion_clave</servlet-name>
        <jsp-file>/Sesion/recuperacion_clave.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recuperacion_clave</servlet-name>
        <url-pattern>/Sesion/recuperacion_clave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dvisitas</servlet-name>
        <jsp-file>/Docente/visitas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dvisitas</servlet-name>
        <url-pattern>/Docente/visitas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dvisita_ver</servlet-name>
        <jsp-file>/Docente/visita_ver.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dvisita_ver</servlet-name>
        <url-pattern>/Docente/visita_ver</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Solicitudes</servlet-name>
        <jsp-file>/Docente/Solicitudes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>doc_estudiante</servlet-name>
        <jsp-file>/Docente/doc_estudiante.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>documento_consulta</servlet-name>
        <jsp-file>/Docente/documento_consulta.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>empresa_consulta</servlet-name>
        <jsp-file>/Docente/empresa_consulta.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>empresa_modificar</servlet-name>
        <jsp-file>/Docente/empresa_modificar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dempresa_registrar</servlet-name>
        <jsp-file>/Docente/empresa_registrar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>postulante_consulta</servlet-name>
        <jsp-file>/Docente/postulante_consulta.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dsolicitud_ver</servlet-name>
        <jsp-file>/Docente/solicitud_ver.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Esolicitud_ver</servlet-name>
        <jsp-file>/Estudiante/solicitud_ver.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Esolicitudes</servlet-name>
        <jsp-file>/Estudiante/solicitudes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Evisitas</servlet-name>
        <jsp-file>/Estudiante/visitas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Aperfil</servlet-name>
        <jsp-file>/Administrador/perfil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dperfil</servlet-name>
        <jsp-file>/Docente/perfil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Eperfil</servlet-name>
        <jsp-file>/Estudiante/perfil.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Eperfil</servlet-name>
        <url-pattern>/Estudiante</url-pattern>
        <url-pattern>/Estudiante/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dperfil</servlet-name>
        <url-pattern>/Docente/perfil</url-pattern>
        <url-pattern>/Docente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aperfil</servlet-name>
        <url-pattern>/Administrador/perfil</url-pattern>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Adocumento_consulta</servlet-name>
        <jsp-file>/Administrador/documento_consulta.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Adocumento_consulta</servlet-name>
        <url-pattern>/Administrador/documento_consulta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Adocumento_nuevo</servlet-name>
        <jsp-file>/Administrador/documento_nuevo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Adocumento_nuevo</servlet-name>
        <url-pattern>/Administrador/documento_nuevo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Aempresa_consulta</servlet-name>
        <jsp-file>/Administrador/empresa_consulta.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Aempresa_consulta</servlet-name>
        <url-pattern>/Administrador/empresa_consulta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Aempresa_modificar</servlet-name>
        <jsp-file>/Administrador/empresa_modificar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>empresa_registrar</servlet-name>
        <jsp-file>/Administrador/empresa_registrar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>solicitud_ver</servlet-name>
        <jsp-file>/Administrador/solicitud_ver.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>solicitudes</servlet-name>
        <jsp-file>/Administrador/solicitudes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>usuario_consulta</servlet-name>
        <jsp-file>/Administrador/usuario_consulta.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>usuario_modificar</servlet-name>
        <jsp-file>/Administrador/usuario_modificar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>usuario_registrar</servlet-name>
        <jsp-file>/Administrador/usuario_registrar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>visitas</servlet-name>
        <jsp-file>/Administrador/visitas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Aempresa_modificar</servlet-name>
        <url-pattern>/Administrador/empresa_modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empresa_registrar</servlet-name>
        <url-pattern>/Administrador/empresa_registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solicitud_ver</servlet-name>
        <url-pattern>/Administrador/solicitud_ver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solicitudes</servlet-name>
        <url-pattern>/Administrador/solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuario_consulta</servlet-name>
        <url-pattern>/Administrador/usuario_consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuario_modificar</servlet-name>
        <url-pattern>/Administrador/usuario_modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuario_registrar</servlet-name>
        <url-pattern>/Administrador/usuario_registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitas</servlet-name>
        <url-pattern>/Administrador/visitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitudes</servlet-name>
        <url-pattern>/Docente/Solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doc_estudiante</servlet-name>
        <url-pattern>/Docente/doc_estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>documento_consulta</servlet-name>
        <url-pattern>/Docente/documento_consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empresa_consulta</servlet-name>
        <url-pattern>/Docente/empresa_consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empresa_modificar</servlet-name>
        <url-pattern>/Docente/empresa_modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dempresa_registrar</servlet-name>
        <url-pattern>/Docente/empresa_registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postulante_consulta</servlet-name>
        <url-pattern>/Docente/postulante_consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dsolicitud_ver</servlet-name>
        <url-pattern>/Docente/solicitud_ver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Esolicitud_ver</servlet-name>
        <url-pattern>/Estudiante/solicitud_ver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Esolicitudes</servlet-name>
        <url-pattern>/Estudiante/solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evisitas</servlet-name>
        <url-pattern>/Estudiante/visitas</url-pattern>
    </servlet-mapping>
    <!--- -->
    <!---Mappping de los Servlets .do-->
    <servlet>
        <servlet-name>UpdateStatusCronograma</servlet-name>
        <servlet-class>Controlador.UpdateStatusCronograma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassChange</servlet-name>
        <url-pattern>/PassChange.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassRecovery</servlet-name>
        <url-pattern>/PassRecovery.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCompany</servlet-name>
        <url-pattern>/RegisterCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryCompanies</servlet-name>
        <url-pattern>/QueryCompanies.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCompany</servlet-name>
        <url-pattern>/DeleteCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompany</servlet-name>
        <url-pattern>/UpdateCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryDocuments</servlet-name>
        <url-pattern>/QueryDocuments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadDoc</servlet-name>
        <url-pattern>/DownloadDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDocument</servlet-name>
        <url-pattern>/DeleteDocument.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryTypeDocuments</servlet-name>
        <url-pattern>/QueryTypeDocuments.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryUsers</servlet-name>
        <url-pattern>/QueryUsers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryVisitas</servlet-name>
        <url-pattern>/QueryVisitas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActivUser</servlet-name>
        <url-pattern>/UpdateActivUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuerySolicitudes</servlet-name>
        <url-pattern>/QuerySolicitudes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobacionSolicitud</servlet-name>
        <url-pattern>/AprobacionSolicitud.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryRequest</servlet-name>
        <url-pattern>/QueryRequest.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterRequest</servlet-name>
        <url-pattern>/RegisterRequest.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActivDoc</servlet-name>
        <url-pattern>/UpdateActivDoc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuerySolicitudesDoc</servlet-name>
        <url-pattern>/QuerySolicitudesDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRequest</servlet-name>
        <url-pattern>/ReviewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Postulate</servlet-name>
        <url-pattern>/Postulate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryPostulantes</servlet-name>
        <url-pattern>/QueryPostulantes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusPostulant</servlet-name>
        <url-pattern>/UpdateStatusPostulant.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryDataStudent</servlet-name>
        <url-pattern>/QueryDataStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusCronograma</servlet-name>
        <url-pattern>/UpdateStatusCronograma.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStudents</servlet-name>
        <url-pattern>/LoadStudents.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Error/page404.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!-- https://mvnrepository.com/artifact/junit/junit -->
<dependency>
    <groupId>junit</groupId>
    <artifactId>junit</artifactId>
    <version>4.12</version>
    <scope>test</scope>
</dependency>

</web-app>
